<div class="post-wraper">
    <h1 class="header-title">添加首页新闻</h1>
    <form class="form-inline postArticle-form">
        <div class="form-group">
            <div class="form-title">
                <h4>请输入新闻id：</h4>
                <input type="text" class="form-control title-input" ng-model="vm.articleId" placeholder="请输入新闻id">
            </div>
            <div>
                <span>
                    <a class="btn orange-button" ng-click="vm.submit()">提交</a>
                </span>
            </div>
        </div>
    </form>
</div>
