html, body {
    height: 100%;
}

.dashboard-wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}

.dashboard-aside {
    font-style: italic;
    float: left;
    width: 10%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    min-height: 100px;
}

.dashboard-section {
    left: 16%;
    position: fixed;
    top: 130px;
    bottom: 0;
    width: 87%;
    background-color: #F0F0F0;
    overflow: scroll;
    padding-left: 30px;
}

.title-color {
    color: #bbb;
}

.menu-wraper {
    position: fixed;
    top: 130px;
    width: 16%;
    height: 100%;
    background-color: #333743;
    /*padding: 10px 0 0 15px;*/
    overflow: scroll;
}

* {
    margin: 0;
    padding: 0;
}

.panel-group .panel-default .panel-heading {
    background-color: #4c5064;
    border: none;
    padding: 0;
    margin: 0;
}

.panel-group .panel-default .panel-collapse .panel-body {
    background-color: #242632;
    border: none;
    padding: 0;
    width: 100%;
}

.panel-group .panel-default {
    border: none;
    background-color: #4c5064;
    margin: 0;
}

.panel-group {
    background-color: #4c5064;
}

.menu-wraper h2 {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    text-align: left;
    margin: 0;
    padding: 10px 0 3px 10px;
    /*margin-left: -8px;*/
}

.menu-wraper .title {
    color: white;
    font-size: 18px;
    /*margin: 10px 0 0 0;*/
    font-style: normal;
    cursor: pointer;
    outline: none;
    background-color: #4c5064;

}

.menu-wraper a {
    display: block;
    line-height: 50px;
    height: 50px;
    width: 100%;
    padding-left: 10px;
}

.menu-wraper a.active {
    background: #00c5e3;
    color: #fff;
}

.menu-wraper .item {
    font-style: normal;
    font-size: 14px;
    display: block;
    color: #B1B2B6;
    line-height: 40px;
    height: 40px;
}

.menu-wraper .item:hover {
    color: white;
    background-color: #00c5e3;
}

.menu-wraper .item1:hover {
    background-color: #242632;
}

.item:before {
    position: absolute;
    top: 1px;
    left: -20px;
}

.content-wraper {
    margin: 0 70px;
}

.post-wraper {
    margin-left: 70px;
}

.header-title {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.goPages {
    margin-left: 120px;
}

.goPages-article {
    float: right;
}

.postArticle-form {
    display: inline-block;
}

.postArticle-form .form-title input {
    width: 500px;
}

.postArticle-form .form-title .video-check {
    width: 150px;
    display: inline-block;
}

.postArticle-form .form-title .video-check input {
    width: 20px;
    line-height: 20px;
    position: relative;
    left: 0;
    top: 10px;
}

.short-input {
    width: 500px;
}

.newsList {
    margin-top: 20px;
}

.newsList tbody tr td {
    border-top: 1px solid #E8E8E8 !important;
}

.newsList thead tr th {
    border-bottom: 2px solid #E8E8E8 !important;
}

.text-left {
    text-align: left;
}

.subsubsub {
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
    font-size: 13px;
    color: #666;
}

.postArticle-form {
    display: inline-block;
    margin-top: 0em;
    line-height: 30px;
}

.postArticle-form input {
    height: 32px;
}

.selected {
    color: white;
    background-color: #32373B;
    width: 94%;
}

.ncontent {
    margin-top: 20px;
}

.content-editor {
    border: 1px solid #8C8C8C;
    border-radius: 5px;
}

.edit-wraper {
    width: 86%;
    padding: 0;
}

.title-input {
    margin-bottom: 5px;
}

.content-editor .btn-toolbar {
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn-toolbar {
    display: flex;
    justify-content: space-around;
}

.Tbtn-group {
    position: relative;
    left: 19px;
    top: 27px;
}

button {
    outline: 0;
}

.upload-p {
    display: inline-block;
    width: 100px;
    margin: 10px 0;
}

.upbtn {
    display: inline-block;
    line-height: 20px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}

.orange-button {
    margin-top: 10px;
    color: #0f0f0f;
    border-radius: 2px;
    border: 2px solid #aaa;
    background-color: #fff !important;
}

.orange-button:hover {
    color: #fff;
    background-color: #2a2a2a !important;
}

.orange-button:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.dashboard-phone-input {
    width: 500px;
}

.dashboard-phone {
    margin-top: 20px;
}
