<div class="home-wrap">
    <div class="home-banner"></div>
    <div class="csgo-home">
        <div class="home-register">
            <img ng-click="vm.personRegister()" class="home-person-register"
                 src="/content/images/home/home-csgo/person-register.png" alt="">
            <img ng-click="vm.teamRegister()" class="home-team-register"
                 src="/content/images/home/home-csgo/team-register.png" alt="">
        </div>
        <div class="home-bullet"></div>
        <div class="home-introduce">
            <!--<img src="/content/images/home/home-csgo/introduce1.jpg" alt="">
            <img src="/content/images/home/home-csgo/introduce2.jpg" alt="">
            <img src="/content/images/home/home-csgo/introduce3.jpg" alt="">
            <img src="/content/images/home/home-csgo/introduce4.jpg" alt="">-->
            <ul class="home-card">
                <li>
                    <a href="https://www.bisaibang.com/" class="item" title="比赛帮1">
                        <div class="item-pic">
                            <img width="454" height="316" src="/content/images/bsb.jpg" alt="比赛帮1">
                        </div>
                        <h3>比赛帮1</h3>
                        <div class="item-content">
                            <p>小站进入公测阶段</p>
                        </div>
                        <div class="item-footer">
                            <div class="entry-category">from 后端</div>
                            <div class="entry-meta">
                                <span class="postd-on">
                                    27/09/2017
                                    <!--<time class="entry-date published" datetime="2017-09-27T11:26:56+00:00" 27/09/2017></time>-->
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.bisaibang.com/" class="item" title="比赛帮2">
                        <div class="item-pic">
                            <img width="454" height="316" src="/content/images/bsb2.png" alt="比赛帮2">
                        </div>
                        <h3>比赛帮2</h3>
                        <div class="item-content">
                            <p>想要申请认证小站的同学</p>
                        </div>
                        <div class="item-footer">
                            <div class="entry-category">from 前端</div>
                            <div class="entry-meta">
                                <span class="postd-on">
                                    27/09/2017
                                    <!--<time class="entry-date published" datetime="2017-09-27T11:26:56+00:00" 27/09/2017></time>-->
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.bisaibang.com/" class="item" title="比赛帮3">
                        <div class="item-pic">
                            <img width="454" height="316" src="/content/images/bsb.jpg" alt="比赛帮3">
                        </div>
                        <h3>比赛帮3</h3>
                        <div class="item-content">
                            <p>可以填下问卷 </p>
                        </div>
                        <div class="item-footer">
                            <div class="entry-category">from 产品</div>
                            <div class="entry-meta">
                                <span class="postd-on">
                                    27/09/2017
                                    <!--<time class="entry-date published" datetime="2017-09-27T11:26:56+00:00" 27/09/2017></time>-->
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.bisaibang.com/" class="item" title="比赛帮4">
                        <div class="item-pic">
                            <img width="454" height="316" src="/content/images/bsb.jpg" alt="比赛帮4">
                        </div>
                        <h3>比赛帮4</h3>
                        <div class="item-content">
                            <p> http://cn.mikecrm.com/LFd6tyV</p>
                        </div>
                        <div class="item-footer">
                            <div class="entry-category">from 后端</div>
                            <div class="entry-meta">
                                <span class="postd-on">
                                    27/09/2017
                                    <!--<time class="entry-date published" datetime="2017-09-27T11:26:56+00:00" 27/09/2017></time>-->
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.bisaibang.com/" class="item" title="比赛帮5">
                        <div class="item-pic">
                            <img width="454" height="316" src="/content/images/bsb.jpg" alt="比赛帮5">
                        </div>
                        <h3>比赛帮5</h3>
                        <div class="item-content">
                            <p>待审核通过后</p>
                        </div>
                        <div class="item-footer">
                            <div class="entry-category">from 后端</div>
                            <div class="entry-meta">
                                <span class="postd-on">
                                    27/09/2017
                                    <!--<time class="entry-date published" datetime="2017-09-27T11:26:56+00:00" 27/09/2017></time>-->
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.bisaibang.com/" class="item" title="比赛帮6">
                        <div class="item-pic">
                            <img width="454" height="316" src="/content/images/bsb.jpg" alt="比赛帮6">
                        </div>
                        <h3>比赛帮6</h3>
                        <div class="item-content">
                            <p>会有相关工作人员与您联系~</p>
                        </div>
                        <div class="item-footer">
                            <div class="entry-category">from 后端</div>
                            <div class="entry-meta">
                                <span class="postd-on">
                                    27/09/2017
                                    <!--<time class="entry-date published" datetime="2017-09-27T11:26:56+00:00" 27/09/2017></time>-->
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </ul>
        <div class="home-world">
            <img src="/content/images/home/home-csgo/home-map.png" alt="">
        </div>
        <div class="home-text"></div>
    </div>
</div>
<home-footer></home-footer>
