<div class="home-wrap">
    <div class="home-banner"></div>
    <div class="csgo-home">
        <div class="home-introduce">
            <ul class="home-card">
                <li ng-repeat="article in vm.articles" ui-sref="news-page({id:article.id})">
                    <div class="item">
                        <div class="item-pic">
                            <img width="454" height="316" src="/content/images/bsb.jpg" alt="">
                        </div>
                        <h3>{{article.title}}12319859sdfsdfsdfsdfdfdf9</h3>
                        <div class="item-content">
                            <p>{{article.description}}...</p>
                        </div>
                        <div class="item-footer">
                            <div class="entry-category">from {{article.authorName}}</div>
                            <div class="entry-meta">
                                <span class="postd-on">
                                   {{article.createDate|date:"MM/dd/yyyy" }}
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="news-list-scroll" ng-hide="vm.size == vm.articles.length" ng-click="vm.loadArticle()">
                下拉加载更多
                <!--<div class="news-list-arrow">
                    <span></span>
                </div>-->
            </div>



        </div>
    </div>
</div>
<home-footer></home-footer>
