<div class="menu-wraper">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <h2>控制台</h2>
        <div class="panel panel-default group">
            <div>
                <div>
                    <a ng-click="vm.selectedTab = 'createBlog'" class="item" ng-class="{'active':vm.selectedTab == 'createBlog'}">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span>新增blog</span>
                    </a>
                    <a ng-click="vm.selectedTab = 'manageArticle'" class="item" ng-class="{'active':vm.selectedTab == 'manageArticle'}">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <span>blog列表</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
