<!--<div class="menu-wraper">
    <h2>控制台</h2>
    <div class="index">
        <div class="title">新闻</div>
        <a ng-click="vm.selectedTab = 'postArticle'; vm.clearArticleData()" class="item" ng-class="{'active':vm.selectedTab == 'postArticle'}">
                <span class="glyphicon glyphicon-th-list"></span>
                <span>发布新闻</span>
        </a>
        <a ng-click="vm.selectedTab = 'manageArticle'" class="item" ng-class="{'active':vm.selectedTab == 'manageArticle'}"  >
                <span class="glyphicon glyphicon-pencil"></span>
                <span>管理新闻</span>
        </a>
    </div>
    <div class="video">
        <div class="title">视频</div>
        <a ng-click="vm.selectedTab = 'postVideo'; vm.clearVideoData()" class="item" ng-class="{'active':vm.selectedTab == 'postVideo'}">
                <span class="glyphicon glyphicon-facetime-video"></span>
                <span>发布视频</span>
        </a>
        <a ng-click="vm.selectedTab = 'manageVideo';vm.selectedVideoTag = null" class="item" ng-class="{'active':vm.selectedTab == 'manageVideo'}">
            <span class="glyphicon glyphicon-facetime-video"></span>
            <span>管理视频</span>
        </a>
        <a class="item">
            <span class="glyphicon glyphicon-facetime-video"></span>
            <span>分类/标签</span>
        </a>
        <div ng-repeat="tag in vm.tags">
            <div class="item">
                <span ng-click="vm.selectedTab = 'manageVideo';vm.selectedVideoTag = tag">{{tag.name}}</span>
                <img class="pull-right" src="/content/images/dashboard/trash.png" ng-click="vm.deleteTag(tag)">
            </div>
        </div>
        &lt;!&ndash;<a ng-click="vm.selectedTab = 'addVideoTag'"><div class="item">+ 分类</div></a>&ndash;&gt;
        <a ng-click="vm.selectedTab = 'addVideoTag'" class="item" ng-class="{'active':vm.selectedTab == 'addVideoTag'}" style="margin-left:5px;">
                <span>+</span>
                <span>分类</span>
        </a>
    </div>
    <div class="forum">
        <div class="title">论坛</div>
        <a ng-click="vm.selectedTab = 'manageCommunicateSection'" class="item" ng-class="{'active':vm.selectedTab == 'manageCommunicateSection'}">
                <span class="glyphicon glyphicon-king"></span>
                <span>交流互动专区</span>
        </a>
        <a ng-click="vm.selectedTab = 'manageGameMatchSection'" class="item" ng-class="{'active':vm.selectedTab == 'manageGameMatchSection'}">
                <span class="glyphicon glyphicon-queen"></span>
                <span>参赛配队专区</span>
        </a>
        <a ng-click="vm.selectedTab = 'manageComplaintSection'" class="item" ng-class="{'active':vm.selectedTab == 'manageComplaintSection'}">
                <span class="glyphicon glyphicon-pawn"></span>
                <span>赛事投诉及举报专区</span>
        </a>
    </div>
    <div class="registerInfo">
        <div class="title">报名信息</div>
        <a ng-click="vm.selectedTab = 'checkList'" class="item" ng-class="{'active':vm.selectedTab == 'checkList'}">
                <span class="glyphicon glyphicon-equalizer"></span>
                <span>查看列表</span>
        </a>
        <a ng-click="vm.selectedTab = 'deleteTeam'" class="item" ng-class="{'active':vm.selectedTab == 'deleteTeam'}">
                <span class="glyphicon glyphicon-flash"></span>
                <span>踢出队伍</span>
        </a>
        <a ng-click="vm.selectedTab = 'changeName'" class="item" ng-class="{'active':vm.selectedTab == 'changeName'}">
                <span class="glyphicon glyphicon-pencil"></span>
                <span>修改队名</span>
        </a>
    </div>
    <div class="group">
        <div class="title">首页管理</div>
        <a ng-click="vm.selectedTab = 'pushArticle'" class="item" ng-class="{'active':vm.selectedTab == 'pushArticle'}">
                <span class="glyphicon glyphicon-list-alt"></span>
                <span>添加新闻</span>
        </a>
        <a ng-click="vm.selectedTab = 'pushVideo'" class="item" ng-class="{'active':vm.selectedTab == 'pushVideo'}">
                <span class="glyphicon glyphicon-facetime-video"></span>
                <span>添加视频</span>
        </a>
    </div>
    <div class="group">
        <div class="title">标记用户</div>
        <a ng-click="vm.selectedTab = 'markUser'" class="item" ng-class="{'active':vm.selectedTab == 'markUser'}">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span>标记用户</span>
        </a>
    </div>
</div>-->
<div class="menu-wraper">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <h2>控制台</h2>
        <div class="panel panel-default index">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="title">新闻</div>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <a ng-click="vm.selectedTab = 'postArticle'; vm.clearArticleData()" class="item" ng-class="{'active':vm.selectedTab == 'postArticle'}">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span>发布新闻</span>
                    </a>
                    <a ng-click="vm.selectedTab = 'manageArticle'" class="item" ng-class="{'active':vm.selectedTab == 'manageArticle'}"  >
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span>管理新闻</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default video">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="title">视频</div>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <a ng-click="vm.selectedTab = 'postVideo'; vm.clearVideoData()" class="item" ng-class="{'active':vm.selectedTab == 'postVideo'}">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <span>发布视频</span>
                    </a>
                    <a ng-click="vm.selectedTab = 'manageVideo';vm.selectedVideoTag = null" class="item" ng-class="{'active':vm.selectedTab == 'manageVideo'}">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <span>管理视频</span>
                    </a>
                    <a class="item item1">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <span>分类/标签</span>
                    </a>
                    <div ng-repeat="tag in vm.tags">
                        <div class="item">
                            <span ng-click="vm.selectedTab = 'manageVideo';vm.selectedVideoTag = tag">{{tag.name}}</span>
                            <img class="pull-right" src="/content/images/dashboard/trash.png" ng-click="vm.deleteTag(tag)">
                        </div>
                    </div>
                    <a ng-click="vm.selectedTab = 'addVideoTag'" class="item" ng-class="{'active':vm.selectedTab == 'addVideoTag'}" style="margin-left:5px;">
                        <span>+</span>
                        <span>分类</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default forum">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="title">论坛</div>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <a ng-click="vm.selectedTab = 'manageCommunicateSection'" class="item" ng-class="{'active':vm.selectedTab == 'manageCommunicateSection'}">
                        <span class="glyphicon glyphicon-king"></span>
                        <span>交流互动专区</span>
                    </a>
                    <a ng-click="vm.selectedTab = 'manageGameMatchSection'" class="item" ng-class="{'active':vm.selectedTab == 'manageGameMatchSection'}">
                        <span class="glyphicon glyphicon-queen"></span>
                        <span>参赛配队专区</span>
                    </a>
                    <a ng-click="vm.selectedTab = 'manageComplaintSection'" class="item" ng-class="{'active':vm.selectedTab == 'manageComplaintSection'}">
                        <span class="glyphicon glyphicon-pawn"></span>
                        <span>赛事投诉及举报专区</span>
                    </a>
                    <a ng-click="vm.selectedTab = 'manageForum'" class="item" ng-class="{'active':vm.selectedTab == 'manageForum'}">
                        <span class="glyphicon glyphicon-pawn"></span>
                        <span>讨论区</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default registerInfo">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <div class="title">报名信息</div>
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <a ng-click="vm.selectedTab = 'checkList'" class="item" ng-class="{'active':vm.selectedTab == 'checkList'}">
                        <span class="glyphicon glyphicon-equalizer"></span>
                        <span>查看列表</span>
                    </a>
                    <!--<a ng-click="vm.selectedTab = 'deleteTeam'" class="item" ng-class="{'active':vm.selectedTab == 'deleteTeam'}">
                        <span class="glyphicon glyphicon-flash"></span>
                        <span>踢出队伍</span>
                    </a>-->
                    <a ng-click="vm.selectedTab = 'changeName'" class="item" ng-class="{'active':vm.selectedTab == 'changeName'}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span>修改队名</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default group">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <div class="title">首页管理</div>
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <a ng-click="vm.selectedTab = 'pushArticle'" class="item" ng-class="{'active':vm.selectedTab == 'pushArticle'}">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span>添加新闻</span>
                    </a>
                    <a ng-click="vm.selectedTab = 'pushSchedule'" class="item" ng-class="{'active':vm.selectedTab == 'pushSchedule'}">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <span>上传决赛图</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default group">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <div class="title">标记用户</div>
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <a ng-click="vm.selectedTab = 'markUser'" class="item" ng-class="{'active':vm.selectedTab == 'markUser'}">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span>标记用户</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
