<div class="post-wraper">
    <h1 class="header-title">{{vm.article.id == null ?'添加Blog':'修改Blog'}}</h1>
    <div style="width: 100%;height: 640px;">
        <!--<div id="layout">
            <header>
                <h1>Using require.js</h1>
                <ul style="margin: 10px 0 0 18px;">
                    <li>Enable HTML tags decode</li>
                    <li>Enable TeX, Flowchart, Sequence Diagram, Emoji, FontAwesome, Task lists</li>
                    <li>Enable Image upload</li>
                    <li>Enable [TOCM], Search Replace, Code fold</li>
                </ul>
            </header>
            <div class="btns">
                <button id="show-btn">Show editor</button>
                <button id="hide-btn">Hide editor</button>
                <button id="get-md-btn">Get Markdown</button>
                <button id="get-html-btn">Get HTML</button>
                <button id="watch-btn">Watch</button>
                <button id="unwatch-btn">Unwatch</button>
                <button id="preview-btn">Preview HTML (Press Shift + ESC cancel)</button>
                <button id="fullscreen-btn">Fullscreen (Press ESC cancel)</button>
                <button id="show-toolbar-btn">Show toolbar</button>
                <button id="close-toolbar-btn">Hide toolbar</button>
                <button id="toc-menu-btn">ToC Dropdown menu</button>
                <button id="toc-default-btn">ToC default</button>
            </div>
            <div id="test-editormd"></div>
        </div>-->
        <input type="text" ng-moudle="vm.article.title"/>
        <div id="editormd">
            <textarea style="display:none;">### Hello Editor.md !</textarea>
        </div>
        <button ng-click="vm.getHtml()">Get HTML</button>
        <button ng-click="vm.getMD()">Get MarkDown</button>
        <div ng-bind-html="vm.content.delHtmlTag"></div>
    </div>
</div>

