<div class="post-wraper">
    <h1 class="header-title">更换队名</h1>
    <form class="form-inline postArticle-form">
        <div class="form-group">
            <div class="form-title">
                <h4>请输入队伍id：</h4>
                <input type="text" class="form-control title-input" ng-model="vm.teamId"  placeholder="请输入队伍id">
            </div>
            <div class="form-title">
                <h4>请输入新的队伍名称：</h4>
                <input type="text" class="form-control title-input" ng-model="vm.teamName"  placeholder="请输入新的队伍名称">
            </div>
            <div>
                <span>
                    <a class="btn orange-button" ng-click="vm.submit()" ng-disabled="vm.video.introduction.length > 150">提交</a>
                </span>
            </div>
        </div>
    </form>
</div>

