<div class="forums-new-theme" ng-show="vm.isShow">
    <div class="container">
        <form name="form">
            <h2 class="new-theme-header">
                <span>新主题</span>
                <a href="" class="cancel-btn pull-right" ng-click="vm.cancelNewTheme()">x</a>
            </h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="theme-reply-item-author clearfix">
                        <div class="author-avatar">
                            <img ng-src="{{vm.avatarUrl}}" alt="">
                        </div>
                        <div class="author-detail">
                            <span class="author-name">{{vm.authorName? vm.authorName: '未登录'}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="new-theme-content">
                        <div class="forbidden-tip" ng-hide="true">你没有在此论坛发帖的权限。</div>
                        <div ng-hide="false">
                            <div class="new-theme-content-input-wrapper">
                                <span>文章标题：</span>
                                <input type="text" class="new-theme-content-input" ng-model="vm.thread.title" required>
                            </div>
                            <div class="new-theme-content-input-wrapper">
                                <span>文章内容：</span>
                                <textarea class="new-theme-content-input thread-content" ng-model="vm.thread.content" required></textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <button class="pull-right publish-theme-btn" type="button" ng-click="vm.publishThread()" ng-disabled="form.$invalid">发表</button>
                <!--<button class="pull-right publish-theme-btn" type="button" ng-click="vm.autoTest()">发表50个</button>-->
            </div>
        </form>
    </div>
</div>
